* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Shabnam", "Segoe UI", Tahoma, sans-serif;
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// style profile

.profile {
  padding: 3rem 0;
  color: #fffffe;

  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__img {
      width: 220px;
      height: 220px;

      img {
        width: 100%;
        height: 100%;
        border: 4px solid #2cb67d;
        border-radius: 50%;
      }
    }
    &__name {
      margin-top: 1rem;
      font-weight: 500;
      color: #2cb67d;
    }
    &__job,
    &__born {
      margin: 0.5rem 0 0.9rem 0;
      font-size: 1.2rem;
    }

    &__social {
      a {
        margin: 0 0.8rem;
        font-size: 2rem;
        transition: all 0.4s ease-in-out;

        &:hover {
          transition: all 0.4s ease-in-out;
          color: #2cb67d;
        }
      }
    }
  }
}

// style contact

.contact {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;

  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;

    a {
      padding: 0.7rem 1.2rem;
      color: #fffffe;
      border-radius: 0.5rem;
      transition: all 0.4s ease-in-out;
      font-size: 1.1rem;
      background-color: #2cb67d;
      border-radius: 0.5rem;

      &:hover {
        transition: all 0.4s ease-in-out;
        background-color: #fffffe;
        color: #2cb67d;
      }
    }
  }
  &-right {
    width: 30%;
    display: flex;
    align-items: center;

    a {
      margin: 0 0.5rem;
      font-size: 2rem;
      transition: all 0.4s ease-in-out;
      color: #fffffe;

      &:hover {
        transition: all 0.4s ease-in-out;
        color: #2cb67d;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 35%;
  }
  @media screen and (max-width: 768px) {
    width: 55%;
  }
  @media screen and (max-width: 568px) {
    width: 71%;
  }
}

// style tabline

.tabline {
  padding: 1.5rem 0;

  &-container {
    display: flex;
    flex-direction: column;

    &__top {
      width: 24%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      padding: 0.4rem 0.4rem;
      color: #fffffe;
      background-color: #2cb67d;
      border-radius: 0.5rem;

      &-item {
        width: 49%;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: all 0.4s ease-in-out;

        &.active-item {
          background-color: #fffffe;
          padding: 0.5rem 0.1rem;
          border-radius: 0.5rem;
          color: #16161a;
          transition: all 0.4s ease-in-out;
        }
      }
    }
    &__body {
      margin: 3rem auto;
      width: 100%;

      &-content {
        display: none;
        width: 45%;
        margin: 0 auto;

        &.active-box {
          display: flex;
        }

        &__projects {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;

          &-image {
            width: 47%;
            margin: 0.8rem 0;
            height: 180px;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              border-radius: 0.5rem;
              opacity: 1;
              transition: all 0.3s ease-in-out;
            }
            &__link {
              width: 100%;
              position: absolute;
              content: "";
              color: #fffffe;
              left: -50%;
              top: 50%;
              transform: translate(-50%, -50%);
              transition: left 0.3s ease-out;
            }

            &:hover {
              img {
                opacity: 0.1;
              }

              a {
                font-size: 1.3rem;
                font-weight: bold;
                left: 50%;
                transition: left 0.3s ease-out;
              }
            }
          }
        }
        &__resume {
          display: flex;
          flex-direction: column;
          width: 100%;

          &-experience {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
            border-radius: 0.5rem;
            padding: 0.5rem 0.8rem;
            height: 65px;
            transition: 0.3s;

            &.active-acc {
              height: 255px;
              transition: 0.3s;
            }

            &__top {
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              margin-top: 1rem;

              span {
                font-size: 1.2rem;
                font-weight: 500;
                color: #2cb67d;
              }
            }
            &__footer {
              padding: 1.5rem 0;
              transition: 0.3s;
              opacity: 0;

              &.active-details {
                opacity: 1;
                transition: 0.3s;
              }

              &-details {
                margin: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                  color: #fffffe;
                }
                a {
                  color: #2cb67d;
                }
              }
            }
          }
          &-skills {
            width: 100%;
            padding: 3rem 0;

            &__groups {
              display: flex;
              justify-content: space-between;

              &-data {
                display: flex;
                flex-direction: column;
                width: 45%;

                &__title {
                  font-size: 1.2rem;
                  font-weight: 600;
                  color: #fffffe;
                }
                &__items {
                  display: flex;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  margin: 1rem 0;

                  &-job {
                    display: flex;
                    width: 45%;
                    margin: 0.5rem 0;

                    i {
                      font-size: 1rem;
                      color: #2cb67d;
                      margin-right: 0.5rem;
                    }

                    div {
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;

                      h3 {
                        font-size: 1.1rem;
                        color: #2cb67d;
                      }
                      span {
                        opacity: 0.9;
                        color: #fffffe;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      &__top {
        width: 39%;
      }
      &__body {
        &-content {
          width: 50%;

          &__projects {
            flex-direction: column;

            &-image {
              width: 100%;
            }
          }
          &__resume{
            
            &-skills{
              &__groups{
                flex-direction: column;

                &-data{
                  width: 100%;

                  &__items{
                    &-job{
                      width: 45%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      &__top {
        width: 59%;
      }
      &__body {
        &-content {
          width: 80%;

          &__projects {
            flex-direction: column;

            &-image {
              width: 100%;
            }
          }
        }
      }
    }
    @media screen and (max-width: 568px) {
      &__top {
        width: 75%;
      }
      &__body {
        &-content {
          width: 80%;

          &__projects {
            flex-direction: column;

            &-image {
              width: 100%;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
